    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login pratice with JWT</title>
    <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />
    <script src="/dist/js/jquery.min.js"></script>
    <script src="/sweetalert.min.js"></script>
    <script src="/dist/js/popper.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script>
        $("#navbarContext").collapse();
    </script>